table.ordered-list tr td.ol-label,
table.ordered-list tr td.ol-content {
    vertical-align: top;
    text-align: left;
}

table.ordered-list {
    border-collapse: collapse;
}

table.ordered-list tr td.ol-content {
    padding: 0px;
}

.item-btn-action {
    padding-top: 5px;
    padding-bottom: 5px;
}
