@import "document_content.css";

.version-tools {
    border: none;
}

.version-tools a>i {

    padding-right: 5px;
}

table.information {
    width: 100%;
}

table.information tbody tr>td,
th {

    padding-bottom: 10px;
}

.gsc-result-info {
    text-align: left;
    color: #999;
    font-size: 12px;
    padding-left: 8px;
    margin: 10px 0 10px 0;
}

.gs-result .gs-title,
.gs-result .gs-title * {
    color: #3083A3;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.gs-result a.gs-visibleUrl,
.gs-result .gs-visibleUrl {
    color: #0052FF;
    text-decoration: none;
}

.gs-result .gs-snippet {
    font: 12px Tahoma, Geneva, sans-serif;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    cursor: pointer;
    color: #07AD00;
    text-decoration: none;
    margin-right: 5px;
    display: inline;
    border: 1px solid #DDD;
    padding: 2px 5px 2px 5px;
}

a.document-access,
.document-access a {
    color: rgb(100, 100, 100);
}

a.document-access:hover,
.document-access a:hover {
    color: rgb(128, 128, 128);
}

.no-data {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

